In [0]:
#To get nickname

x= input("Enter Your Name: ")
y= input("Enter Your Prefix amoung 'z','u','s','l','o': ")
z = int(input("Enter Number of Chatacters for nicname: "))

nickname = x[0:z] + y
print(f"Congrats, Your Nickname is {nickname}")

Enter Your Name: Dipesh
Enter Your Prefix amoung 'z','u','s','l','o': u
Enter Number of Chatacters for nicname: 3
Congrats, Your Nickname is Dipu

In [0]:
names = ['Dipesh','Vedant','Ram','Sita']

user_number = int(input("Enter number between 1 to 4: "))

print(names[user_number-1])

Enter number between 1 to 4: 2
Vedant

In [0]:
List = ['Dipesh','Vedant','Shubham','Nitin','Ishika','Pratiksha','Jovin']
number = int(input("Enter number: "))
name= List[number-1]
y= input("Enter Your Prefix amoung 'z','u','s','l','o': ")
z = int(input("Enter Number of Chatacters for nicname: "))

nickname = name[0:z] + y
print(f"Congrats, Your Nickname is {nickname}")

Enter number: 1
Enter Your Prefix amoung 'z','u','s','l','o': u
Enter Number of Chatacters for nicname: 3
Congrats, Your Nickname is Dipu

In [0]:
List = ['Dipesh','Vedant','Shubham','Nitin','Ishika','Pratiksha','Jovin']

y= input("Enter Your Prefix amoung 'z','u','s','l','o': ")
z = int(input("Enter Number of Chatacters for nicname: "))

for i in List:
  print(i[0:z] + y)

Enter Your Prefix amoung 'z','u','s','l','o': u
Enter Number of Chatacters for nicname: 3
Dipu
Vedu
Shuu
Nitu
Ishu
Prau
Jovu

In [0]:
Batch = ['Dipesh','Vedant','Shubham','Nitin','Ishika','Pratiksha','Jovin']
x = ['Sita']

Batch += x
Batch.append('Geeta')

print(len(Batch))

y= input("Enter Your Prefix amoung 'z','u','s','l','o': ")
z = int(input("Enter Number of Chatacters for nicname: "))

for i in Batch:
  print(i[0:z] + y)

9
Enter Your Prefix amoung 'z','u','s','l','o': u
Enter Number of Chatacters for nicname: 3
Dipu
Vedu
Shuu
Nitu
Ishu
Prau
Jovu
Situ
Geeu

In [0]:
Batch = ['Dipesh','Vedant','Shubham','Nitin','Ishika','Pratiksha','Jovin']
Batch[3]='Shubham'
Batch[2]='Nitin'
print(Batch)

Batch.insert(2,'ABCD')
print(Batch)

['Dipesh', 'Vedant', 'Nitin', 'Shubham', 'Ishika', 'Pratiksha', 'Jovin']
['Dipesh', 'Vedant', 'ABCD', 'Nitin', 'Shubham', 'Ishika', 'Pratiksha', 'Jovin']

In [0]:
x = int(input("Enter number of working days this month: "))
y = int(input("Total working weekends: "))
if x<=31:
  if y<=10:
    if x+y==31 or x+y==30: 
      total=x*1000 + y*3000
      print(f"Total Salary this month is {total}")
    else:
      total=x*1000 + y*3000
      print(f"Total Salary this month is {total}")
      print(f"You were absent for {31-(x+y)} days.Monthly Days tally do not match with 31 or 30 days")
  else:
    print("Please Enter proper weekend working days")
else:
  print("Please Enter proper working days")

Enter number of working days this month: 22
Total working weekends: 5
Total Salary this month is 37000
You were absent for 4 days.Monthly Days tally do not match with 31 or 30 days

In [0]:
x=[1,2,3,4,5,6,7,8,9,10]

for i in x:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [0]:
# x=100
# while(x>10):
#   print('Hola!!!')
  
for i in range(100000,0,-10000):
    print(i)

100000
90000
80000
70000
60000
50000
40000
30000
20000
10000

In [0]:
x="Dipesh"
for letters in x:
  print(letters)

D
i
p
e
s
h

In [0]:
Alphabets = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
Numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]

AlphaNumbers = [Alphabets,Numbers]
print(AlphaNumbers)
# for number in Numbers:
#   print(number)

[['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]]

In [0]:
Alphabets = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
newAlphabets = []

for i in Alphabets:
  print(i,end=" ")
  newAlphabets += i
  print(len(newAlphabets), end=" ")
#   while len(newAlphabets) <10:
#     print(newAlphabets,end=" ")

A 1 B 2 C 3 D 4 E 5 F 6 G 7 H 8 I 9 J 10 K 11 L 12 M 13 N 14 O 15 P 16 Q 17 R 18 S 19 T 20 U 21 V 22 W 23 X 24 Y 25 Z 26

In [0]:
number = int(input("Please Enter nth value: "))
sum = 0

for i in range (1,number+1):
  sum = sum + i
print(f"Sum of {number} natural numbers is: {sum}")

Please Enter nth value: 10
Sum of 10 natural numbers is: 55

In [0]:
number = int(input("Please Enter nth value: "))
product = 1

for i in range (1,number+1):
  product *= i
print(f"Sum of {number} natural numbers is: {product}")

Please Enter nth value: 3
Sum of 3 natural numbers is: 6

In [0]:
number = int(input("Please Enter nth value: "))
sum = 0
i = 0

while(i<=number):
  sum = sum + i
  i=i+1
print(f"Sum of {number} natural numbers is: {sum}")

Please Enter nth value: 10
Sum of 10 natural numbers is: 55