In [0]:
#split function
x = input("Enter Names sepated by space: ")

y = x.split(" ")

print(f"List = {y}")

print(type(y))

Enter Names sepated by space: Dipesh Vedant Nitin
List = ['Dipesh', 'Vedant', 'Nitin']
<class 'list'>

In [0]:
#nested Lists

list=[[1,2,3,4],"Dipesh",5,"Anand",['Yashwant','Parab']]

name = list[4][0]

print(name)

Yashwant

In [0]:
x = [[0,1,2,3,4,"Ved",[0,1,2]], [1,2,["Ved","Shu","Prat","Jov"],5,7.0],[1,2,3,4,5,6,7,8,9,10],["RAM",[1,0,[0,1,2],4]]]
y = x[2]

for i in y:
  if i < 2:
    z = x[3][i]
    for i in z[2]:
      print(i)
      list.append(i)
      print(list)


# a = [1,2.3,45,'Dipesh','Parab']

# list_2 = [i for i in a if isinstance(i, (int, float))] 
# print(list_2)

In [0]:
#Introduction to Dictionaries
x = {"Ram":1, "Laxman":2}

print(len(x))
print(type(x))

print(x["Ram"])

In [0]:
x = {"Dipesh":[{"Emp_Code":"NQ00217","Dob":"05081993","Gender":"Male"}]}

print(x["Dipesh"][0]["Gender"])

Male

In [0]:
#Adding key value pair to dictionary
colors = {"Vedant":"Pink","Jovin":"Sky blue","Nitin":"Navy blue","Ishika":"Purple","Komal":"Navy blue","Dipesh":"Oxford Blue"}

colors["Pratiksha"] = "Red"
colors["Mayur"] = "Pink"

print(colors)

{'Vedant': 'Pink', 'Jovin': 'Sky blue', 'Nitin': 'Navy blue', 'Ishika': 'Purple', 'Komal': 'Navy blue', 'Dipesh': 'Oxford Blue', 'Pratiksha': 'Red', 'Mayur': 'Pink'}

In [0]:
# Update dictionary using method
# Use del to delete dictionary elements
print("-"*100)
print("Original Dictionary")
print(x)
print("-"*100)

def addPerson():
  name = input("Enter name: ")
  empcode = input("Enter Emp Code: ")
  dob = input("Enter Date of Birth: ")
  gender = input("Enter Gender: ")
  
  x[name] = [{"Emp_Code":empcode,"Dob":dob,"Gender":gender}]

addPerson()
del x["Ravan"]

print("-"*100)
print("Updated Dictionary")
print(x)
print("-"*100)

----------------------------------------------------------------------------------------------------
Original Dictionary
{'Ram': [{'Emp_Code': 'NQ0001', 'Dob': '05081993', 'Gender': 'Male'}], 'Laxman': [{'Emp_Code': 'NQ00220', 'Dob': '12101989', 'Gender': 'Male'}], 'Charan': [{'Emp_Code': 'NQ00210', 'Dob': '15031992', 'Gender': 'Female'}], 'Ravan': [{'Emp_Code': 'NQ00215', 'Dob': '11031980', 'Gender': 'Male'}], 'Sita': [{'Emp_Code': 'NQ0002', 'Dob': '09111995', 'Gender': 'Female'}], 'Bharat': [{'Emp_Code': 'NQ0008', 'Dob': '19121998', 'Gender': 'Male'}]}
----------------------------------------------------------------------------------------------------
Enter name: Dipesh
Enter Emp Code: NQ0100
Enter Date of Birth: 05081993
Enter Gender: Male
----------------------------------------------------------------------------------------------------
Updated Dictionary
{'Ram': [{'Emp_Code': 'NQ0001', 'Dob': '05081993', 'Gender': 'Male'}], 'Laxman': [{'Emp_Code': 'NQ00220', 'Dob': '12101989', 'Gender': 'Male'}], 'Charan': [{'Emp_Code': 'NQ00210', 'Dob': '15031992', 'Gender': 'Female'}], 'Sita': [{'Emp_Code': 'NQ0002', 'Dob': '09111995', 'Gender': 'Female'}], 'Bharat': [{'Emp_Code': 'NQ0008', 'Dob': '19121998', 'Gender': 'Male'}], 'Dipesh': [{'Emp_Code': 'NQ0100', 'Dob': '05081993', 'Gender': 'Male'}]}
----------------------------------------------------------------------------------------------------

In [3]:
#Add CSV to dictionary
values = [['Ram','NQ001','05081993','Male'],['Seeta','NQ002','05081993','Female'],['Laxman','NQ003','05081993','Male'],['Ravan','NQ004','05081993','Male']]
x = {}

for i in values:
    x[i[0]] = [{"empid":i[0],"dob":i[1],"gender":i[2]}]
print(x)

print(type(x))

{'Ram': [{'empid': 'Ram', 'dob': 'NQ001', 'gender': '05081993'}], 'Seeta': [{'empid': 'Seeta', 'dob': 'NQ002', 'gender': '05081993'}], 'Laxman': [{'empid': 'Laxman', 'dob': 'NQ003', 'gender': '05081993'}], 'Ravan': [{'empid': 'Ravan', 'dob': 'NQ004', 'gender': '05081993'}]}
<class 'dict'>

#Code for Assignment (Complete the work in team)
Name
System Preference: Communalism, Capitalism, Maxism, Democracy, AI Gov
Religious Preference:  
Gender:

Principals of each preference
Principals of each religion

For more informaion:
Mail us at xxx@xx.com
Contact us at 91-9087 XXX XXX

Game to guess the number
User Input: 3 chances

if user is close to the value then prompt the user
as
if value is greter in range by 30 then prompt to lower the value and vice versa